body {
    display: flex;
    flex-direction: column;
}

.home-container {
    height: 90%;
    display: flex;
}

#aside-filter {
    padding: 32px 16px;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;

    background-color: #192D37;

    label {
        margin: 16px 0 8px;
        font-size: 20px;
        font-weight: 700;
        color: white;
    }

    input.text-form-button {
        border: 1px solid #D9D9D9;
        border-radius: 8px;
        padding: 4px 12px;
        font-size: 24px;
        height: 32px;
        box-shadow: 0px 1px 2px #D9D9D9;
    }

    button {
        cursor: pointer;
        height: 48px;
        margin-top: 32px;
        font-size: 24px;
        font-weight: 700;
        border-radius: 8px;
        color: white;
        background-color: #FC4332;
        border: 0;
    }
}

.aside-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    h1 {
        font-size: 28px;
        margin: 0 0 16px;
        color: white;
    }
}

.close-aside {
    color: white;
    font-weight: 700;
    cursor: pointer;
}

main {
    width: 100%;
    padding: 16px 16px 0;
    overflow-y: auto;

    .create-event-main-title {
        margin: 0 0 16px;
        color: #192D37;
        font-size: 24px;
        font-weight: 300;
    }
}

.events-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 500px) {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.event-card {
    width: 49%;
    cursor: pointer;
    display: flex;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 1px 2px #D9D9D9;
    border-radius: 10px;
    margin-bottom: 16px;

    @media (max-width: 1200px) {
        flex-direction: column;
        max-height: none;
    }

    @media (max-width: 500px) {
        width: 100%;
    }

    img {
        width: 35%;
        border-radius: 10px 0 0 10px;
        object-fit: cover;

        @media (max-width: 1200px) {
            width: 100%;
            max-height: 280px;
            border-radius: 10px 10px 0 0;
        }
    }
}

.event-description {
    padding: 16px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        margin: 0 0 16px;
        font-size: 28px;
        text-decoration: none !important;
        color: #192D37;
    }

    h2 {
        margin: 0 0 16px;
        font-size: 24px;
        color: #E33B2B
    }

    p {
        margin: 0;
        font-size: 24px;

        color: #192D37
    }

    @media (max-width: 1200px) {
        width: 80%;
    }
}